$co_options_selector : #b9252b;
$co_opntions_selector_center : #250709;
$co_options_selector_border : #621715;
$co_menu_background: rgba(0,0,0,0.7);
$co_menu_red : #c1272d;
$co_letter_yellow: #ffdf1b;
$co_letter_white: white;
$co_categories_list : #8c5817;
$co_order_orderline_selected: #cb3629;

@import "compass";

/* DEFINITION OF FONTS */
@font-face {
    font-family: Roboto-black;
    src: url('../fonts/roboto/Roboto-Black.ttf');
}
@font-face {
    font-family: Roboto-bold;
    src: url('../fonts/roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: Roboto-bold-condensed;
    src: url('../fonts/roboto/RobotoCondensed-Bold.ttf');
}
@font-face {
    font-family: Roboto-medium;
    src: url('../fonts/roboto/Roboto-Medium.ttf');
}
@font-face {
    font-family: Roboto-regular;
    src: url('../fonts/roboto/Roboto-Regular.ttf');
}
/* --------------------------------------------- */

html, body, .openerp, .oe_webclient, .oe_application, .oe_application>div {
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
}
.pos {
    background-image: url('../img/background.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    button {
        background-color: transparent;
        border: none;
        box-shadow: none;
        outline: none;
    }
}
.pos-leftpane {
    height: 100%;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 8%;
    flex: 0 1 8%;
    -webkit-align-self: auto;
    align-self: auto;
}

.pos-centerpane {
    height: 100%;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 65%;
    flex: 0 1 65%;
    -webkit-align-self: auto;
    align-self: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    .center-top {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -webkit-order: 0;
        order: 0;
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -webkit-flex: 0 1 15%;
        flex: 0 1 15%;
        -webkit-align-self: auto;
        align-self: auto;
        max-height: 15%;
    }
    .center-middle {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -webkit-order: 0;
        order: 0;
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -webkit-flex: 0 1 75%;
        flex: 0 1 75%;
        -webkit-align-self: auto;
        align-self: auto;
        max-height: 75%;
        .screens {
            width: 100%;
            height: 100%;
            .screen {
                padding: 5%;
                width: 90%;
                height: 80%;
            }
        }
    }
    .center-bottom {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -webkit-order: 0;
        order: 0;
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -webkit-flex: 0 1 10%;
        flex: 0 1 10%;
        -webkit-align-self: auto;
        align-self: auto; 
    }
}

.pos-rightpane {
    height: 100%;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 27%;
    flex: 0 1 27%;
    -webkit-align-self: auto;
    align-self: auto;
    .right-header {
        height: 12%;
        width: 100%;
        position: relative;
        .sale {
            background-color: $co_menu_background;
            width: 85%;
            height: 80%;
            float: right;
            margin-top: 4%;
            border-radius: 1em 0 0 1em;
            color: white;
            .sale-type {
                font-size: 1.2em;
                font-weight: bold;
                color: white;
                display: inline;
                width: 60%;
                height: 100%;
                p {
                    text-align: center;
                    line-height: 0.3em;
                }
            }
        }
        .user {
            right: 0;
            margin-top: 2%;
            height: 90%;
            width: 35%;
            position: absolute;
            .user-data {
                height: 100%;
                .user-image {
                    height: 100%;
                    display: inline-block;
                    img {
                        height: 100%;
                        border-radius: 50%;
                        border: 2px solid black;
                    }
                }
            }
        }
    }
    .menu-orders {
        height: 85%;
        right: 0;
        background-color: $co_menu_background;
        border-radius: 2em 0 0 2em;
        color: white;
        .order-container {
            height: 100%;
            .order-header {
                height: 7%;
                padding: 2%;
                border-bottom: .3em solid $co_menu_red;
                .order-header-content {
                    height: 100%;
                    width: 100%;
                    background-color: $co_menu_red;
                    border-radius: 2em 0 0 0;
                    .order-dispatch {
                        float: left;
                        width: 75%;
                        height: 100%;
                        text-align:center;
                        h2 {
                            line-height: .5em;
                        }
                    }
                    .order-restart {
                        float: right;
                        width: 20%;
                        height: 100%;
                        img {
                            margin-top: 5%;
                            height: 80%;
                        }
                    }
                }
            }
            .order-scroller {
                width: 100%;
                height: 73%;
                overflow-y: auto;
                .orderline {
                    width: 100%;
                    margin-top: 1em;
                    .product-quantity {
                        width: 20%;
                        height: 100%;
                        display: inline-block;
                        line-height: 0;
                        font-size: 1.5em;
                        vertical-align: top;
                        text-align: right;
                        .number {
                            line-height: 1em;
                            text-align: right;
                            font-size: 1.5em;
                        }
                    }
                    .product-info {
                        width: 60%;
                        display: inline-block;
                        .product-name {
                            color: white;
                            font-size: 1.2em;
                        }
                        .product-details, .product-detail-composed {
                            color: $co_letter_yellow;
                            font-size: 1em;
                        }
                    }
                    .product-delete {
                        width: 10%;
                        display: inline-block;
                        vertical-align: top;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
            .order-summary {
                width: 95%;
                height: 14%;
                border-top: .2em solid $co_menu_red;
                padding: 2%;
                .line {
                    background-color: $co_menu_red;
                    border-radius: 0 0 0 1.6em;
                    width: 100%;
                    height: 100%;
                    font-weight: bold;
                    text-align: center;
                    .entry {
                        width: 65%;
                        display: inline-block;
                        .value, .value-cash {
                            color: $co_letter_yellow;
                        }
                        .subentry-total {
                            display: block;
                        }
                        .subentry-cash {
                            display: block;
                        }
                        .subentry {
                            display: block;
                        }
                    }
                    .action-next {
                        width: 30%;
                        display: inline-block;
                        img {
                            width: 65%;
                        }
                    }
                }
            }
        }
    }
}
.categories {
    top: 3%;
    width: 80%;
    height: 78%;
    background-color: $co_categories_list;
    opacity: .8;
    border-radius: 0em 2em 2em 0em;
    .categories-list {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        -webkit-align-content: stretch;
        align-content: stretch;
        -webkit-box-align: stretch;
        -moz-box-align: stretch;
        -webkit-align-items: stretch;
        align-items: stretch;
        .category-item {
            -webkit-box-ordinal-group: 1;
            -moz-box-ordinal-group: 1;
            -webkit-order: 0;
            order: 0;
            -webkit-box-flex: 0;
            -moz-box-flex: 0;
            -webkit-flex: 0 1 auto;
            flex: 0 1 auto;
            -webkit-align-self: auto;
            align-self: auto;
            width: 90%;
            img {
                width: 100%;
            }
        }
    }
}
.container_products {
    height: 100%;
    width: 100%;
    .product-list-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        .product-list-scroller {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            .product-list {
                width: 100%;
                height: 100%;
                display: -webkit-box;
                display: -moz-box;
                display: -webkit-flex;
                display: flex;
                -webkit-box-direction: normal;
                -moz-box-direction: normal;
                -webkit-box-orient: horizontal;
                -moz-box-orient: horizontal;
                -webkit-flex-direction: row;
                flex-direction: row;
                -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-box-pack: justify;
                -moz-box-pack: justify;
                -webkit-justify-content: space-between;
                justify-content: space-between;
                -webkit-align-content: flex-start;
                align-content: flex-start;
                -webkit-box-align: stretch;
                -moz-box-align: stretch;
                -webkit-align-items: stretch;
                align-items: stretch;
                .product {
                    -webkit-box-ordinal-group: 1;
                    -moz-box-ordinal-group: 1;
                    -webkit-order: 0;
                    order: 0;
                    -webkit-box-flex: 0;
                    -moz-box-flex: 0;
                    -webkit-flex: 0 1 30%;
                    flex: 0 1 30%;
                    -webkit-align-self: auto;
                    align-self: auto;
                    .product-img {
                        width: 100%;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.options-selector {
    width: 95%;
    height: 100%;
    bottom: 0;
    padding: 2% 2.5% 0% 2.5%;
    .options-selector-content{
        float: left;
        width: 90%;
        height: 100%;
        .values-list {
            width: 100%;
            height: 100%;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-align-content: stretch;
            align-content: stretch;
            -webkit-align-items: stretch;
            align-items: stretch;
            .block-selection {
                -webkit-order: 0;
                order: 0;
                -webkit-flex: 0 1 22%;
                flex: 0 1 22%;
                -webkit-align-self: auto;
                align-self: auto;
                height: 90%;
                margin-right: 1%;
                .top-block {
                    display: block;
                    width: 100%;
                    height: 49%;
                    font-size: 2em;
                    text-align: center;
                    color: white;
                    background-color: #000000;
                    opacity: .8;
                    border-radius: .5em .5em 0em 0em;
                    .block-quantity {
                        font-size: 1em;
                    }
                    .block-information {
                        font-size: 0.8em;
                        color: yellow;
                    }
                }
                .bottom-block {
                    display: block;
                    width: 100%;
                    height: 49%;
                    font-size: 2.8em;
                    text-align: center;
                    color: white;
                    background-color: $co_menu_red;
                    border-radius: 0em 0em .5em .5em;
                    .block-increase {
                        display: inline-block;
                        float: left;
                        height: 100%;
                        width: 48%;
                        border-right: 0.1em solid $co_menu_background;
                        img {
                            width: 60%;
                        }
                    }
                    .block-decrease {
                        display: inline-block;
                        float: right;
                        height: 100%;
                        width: 48%;
                        img {
                            display: block;
                            width: 40%;
                            margin: auto;
                        }
                    }
                }
            }
        }
        .left-selector {
            -webkit-order: 0;
            order: 0;
            -webkit-box-flex: 0;
            -moz-box-flex: 0;
            -webkit-flex: 0 1 40%;
            flex: 0 1 40%;
            -webkit-align-self: auto;
            align-self: auto;
        }
        .center-selector {
            -webkit-order: 1;
            order: 1;
            -webkit-box-flex: 0;
            -moz-box-flex: 0;
            -webkit-flex: 0 1 14%;
            flex: 0 1 14%;
            -webkit-align-self: auto;
            align-self: auto;
            padding-left: .5%;
            padding-right: .5%;
            background-color: $co_opntions_selector_center;
            text-align: center;
            color: white;
            position: relative;
            .quantity-units {
                width: 100%;
                min-height: 50%;
                color: $co_letter_yellow;
            }
            .normal-units {
                max-height: 50%;
                width: 100%;
                border-top: 0.15em solid #cdcdcd;
            }
        }
        .right-selector {
            -webkit-order: 2;
            order: 2;
            -webkit-box-flex: 0;
            -moz-box-flex: 0;
            -webkit-flex: 0 1 40%;
            flex: 0 1 40%;
            -webkit-align-self: auto;
            align-self: auto;
        }
    }
    .action-selector {
        width: 8%;
        height: 100%;
        float: right;
        position: relative;
        img {
            border-radius: 50%;
            width: 100%;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            background: rgba(193,39,44,1);
            background: -moz-linear-gradient(top, rgba(193,39,44,1) 0%, rgba(145,29,35,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(193,39,44,1)), color-stop(100%, rgba(145,29,35,1)));
            background: -webkit-linear-gradient(top, rgba(193,39,44,1) 0%, rgba(145,29,35,1) 100%);
            background: -o-linear-gradient(top, rgba(193,39,44,1) 0%, rgba(145,29,35,1) 100%);
            background: -ms-linear-gradient(top, rgba(193,39,44,1) 0%, rgba(145,29,35,1) 100%);
            background: linear-gradient(to bottom, rgba(193,39,44,1) 0%, rgba(145,29,35,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1272c', endColorstr='#911d23', GradientType=0 );
        }
    }
}
.title-quantity {
    margin-top: .2em;
    text-align: center;
    font-size: .8em;
    display: block;
}
.units-quantity {
    margin-top: .1em;
    text-align: center;
    font-size: 2.2em;
    line-height: .8em;
    display: block;
}
.only-quantity-total {
    position: absolute;
    margin: auto;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 1.7em;
}
/* SELECTOR QUANTITY PRODUCTS AND TYPE OF PRODUCTS */
.type-selector {
    position: relative;
    padding: 1%;
    .increase-product {
        position: absolute;
        width: 28%;
        height: 55%;
        z-index: 2;
        top: 0; left: 5%; bottom: 0;
        margin: auto;
        border-radius: 50%;
        background-color: white;
        border: .3em solid $co_options_selector_border;
        img {
            position: absolute;
            top: 0; bottom: 0; left: -8%; right: 0;
            margin: auto;
            height: 90%;
        }
    }
    .edition-product {
        position: absolute;
        width: 85%;
        height: 30%;
        z-index: 1;
        margin: auto;
        background-color: white;
        border-radius: 2em;
        top: 0; left: 5%; bottom: 0; right: 0;
        border: .3em solid $co_options_selector_border;
        input {
            position: relative;
            margin: auto;
            outline: 0;
            border: none;
            text-align: right;
            font-size: 2em;
            width: 85%;
            background-color: transparent;
            font-weight: bold;
            &:focus {
                outline: 0;
            }
        }
    }
    .decrease-product {
        position: absolute;
        width: 10%;
        height: 20%;
        z-index: 2;
        right: 5%; top: 0; bottom : 0;
        margin: auto;
        img {
            width: 100%;
        }
    }
}
/* SELECTOR FOR SIZE PRODUCTS */
.size-selector {
    color: white;
    padding-top: 10%;
    .small-selector {
        display: inline-block;
        width: 20%;
        vertical-align: middle;
        img {
            width: 100%;
            opacity: .8;
        }
    }
    .medium-selector {
        display: inline-block;
        width: 30%;
        vertical-align: middle;
        img {
            width: 100%;
            opacity: .8;
        }
    }
    .big-selector {
        display: inline-block;
        width: 40%;
        vertical-align: middle;
        img {
            width: 100%;
            opacity: .8;
        }
    }
    .size-selector-item:active > img{
        opacity: 1;
    }
}
.font-black {
    font-family: Roboto-black;
}
.font-bold {
    font-family: Roboto-bold;
}
.font-bold-condensed {
    font-family: Roboto-bold-condensed;
}
.font-medium {
    font-family: Roboto-medium;
}
.font-regular {
    font-family: Roboto-regular;
}
.selected {
    background-color: $co_order_orderline_selected;
}
