$co_options_selector : #b9252b;
$co_opntions_selector_center : #250709;
$co_options_selector_border : #621715;
$co_menu_background: rgba(0,0,0,0.7);
$co_menu_red : #c1272d;
$co_letter_yellow: #ffdf1b;
$co_letter_white: white;
$co_categories_list : #8c5817;
$co_order_orderline_selected: #cb3629;

@import "compass";

/* DEFINITION OF FONTS */
@font-face {
    font-family: Roboto-black;
    src: url('../fonts/roboto/Roboto-Black.ttf');
}
@font-face {
    font-family: Roboto-bold;
    src: url('../fonts/roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: Roboto-bold-condensed;
    src: url('../fonts/roboto/RobotoCondensed-Bold.ttf');
}
@font-face {
    font-family: Roboto-medium;
    src: url('../fonts/roboto/Roboto-Medium.ttf');
}
@font-face {
    font-family: Roboto-regular;
    src: url('../fonts/roboto/Roboto-Regular.ttf');
}
/* --------------------------------------------- */

html, body, .openerp, .oe_webclient, .oe_application, .oe_application>div {
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
}
/* Unset default button in input type=number*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}
.pos {
    background-image: url('../img/background.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    @include flexbox((
        display: flex,
        flex-direction: row,
        flex-wrap:nowrap,
        justify-content: space-between,
        align-content: stretch,
        align-items: stretch
    ));
    button {
        background-color: transparent;
        border: none;
        box-shadow: none;
        outline: none;
    }
}
.pos-leftpane {
    height: 100%;
    @include flex(0 1 8%);
}

.pos-centerpane {
    height: 100%;
    @include flex(0 1 65%);
    @include flexbox((
        display: flex,
        flex-direction: column,
        flex-wrap:nowrap,
        justify-content: space-between,
        align-content: stretch,
        align-items: stretch
    ));
    position: relative;
    .center-top {
        @include flex(0 1 17%);
        max-height: 17%;
    }
    .center-middle {
        @include flex(0 1 72%);
        max-height: 75%;
        .screens {
            width: 92%;
            height: 100%;
            background-color: rgba(0,0,0,.1);
            border-radius: 2em;
            .screen {
                padding: 0 5%;
                width: 90%;
                height: 100%;
                .header-screen{
                    height: 12%;
                    width: 90%;
                    display: block;
                    padding-left: 5%;
                    padding-right: 5%;
                    border-bottom: .1em solid white;
                    color: white;
                    .name-screen{
                        display: inline-block;
                        float: left;
                        width: 30%;
                        height: 40%;
                        text-align: center;
                    }
                    .button-screen{
                        display: inline-block;
                        float: left;
                        width: 23%;
                        height: 50%;
                        text-align: center;
                        margin: 3% 5%;
                        background-color: $co_menu_red;
                        border-radius: .8em;
                        color: white;
                        opacity: .5;
                    }
                    .selected{
                        opacity: 1;
                    }
                }
            }
        }
    }
    .center-bottom {
        @include flex(0 1 8%);
    }
}

.pos-rightpane {
    height: 100%;
    @include flex(0 1 27%);
    .right-header {
        height: 12%;
        width: 100%;
        position: relative;
        .sale {
            background-color: $co_menu_background;
            width: 85%;
            height: 80%;
            float: right;
            margin-top: 4%;
            border-radius: 1em 0 0 1em;
            color: white;
            .sale-type {
                font-size: 1.2em;
                font-weight: bold;
                color: white;
                display: inline;
                width: 60%;
                height: 100%;
                p {
                    text-align: center;
                    line-height: 0.3em;
                }
            }
        }
        .user {
            right: 0;
            margin-top: 2%;
            height: 90%;
            width: 35%;
            position: absolute;
            .user-data {
                height: 100%;
                .user-image {
                    height: 100%;
                    display: inline-block;
                    img {
                        height: 100%;
                        border-radius: 50%;
                        border: 2px solid black;
                    }
                }
            }
        }
    }
    .menu-orders {
        height: 85%;
        right: 0;
        background-color: $co_menu_background;
        border-radius: 2em 0 0 2em;
        color: white;
        .order-container {
            height: 100%;
            .order-header {
                height: 7%;
                padding: 2%;
                border-bottom: .3em solid $co_menu_red;
                .order-header-content {
                    height: 100%;
                    width: 100%;
                    background-color: $co_menu_red;
                    border-radius: 2em 0 0 0;
                    .order-dispatch {
                        float: left;
                        width: 75%;
                        height: 100%;
                        text-align:center;
                        h2 {
                            line-height: .5em;
                        }
                    }
                    .order-restart {
                        float: right;
                        width: 20%;
                        height: 100%;
                        img {
                            margin-top: 5%;
                            height: 80%;
                        }
                    }
                }
            }
            .order-scroller {
                width: 100%;
                height: 73%;
                overflow-y: auto;
                .orderline {
                    width: 100%;
                    margin-top: 1em;
                    .product-quantity {
                        width: 20%;
                        height: 100%;
                        display: inline-block;
                        line-height: 0;
                        font-size: 1.5em;
                        vertical-align: top;
                        text-align: right;
                        .number {
                            line-height: 1em;
                            text-align: right;
                            font-size: 1.5em;
                        }
                    }
                    .product-info {
                        width: 60%;
                        display: inline-block;
                        .product-name {
                            color: white;
                            font-size: 1.2em;
                        }
                        .product-details, .product-detail-composed {
                            color: $co_letter_yellow;
                            font-size: 1em;
                        }
                    }
                    .product-delete {
                        width: 10%;
                        display: inline-block;
                        vertical-align: top;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
            .order-summary {
                width: 95%;
                height: 14%;
                border-top: .2em solid $co_menu_red;
                padding: 2%;
                .line {
                    background-color: $co_menu_red;
                    border-radius: 0 0 0 1.6em;
                    width: 100%;
                    height: 100%;
                    font-weight: bold;
                    text-align: center;
                    .entry {
                        width: 65%;
                        display: inline-block;
                        .value, .value-cash {
                            color: $co_letter_yellow;
                        }
                        .subentry-total {
                            display: block;
                        }
                        .subentry-cash {
                            display: block;
                        }
                        .subentry {
                            display: block;
                        }
                    }
                    .action-next {
                        width: 30%;
                        display: inline-block;
                        img {
                            width: 65%;
                        }
                    }
                }
            }
        }
    }
}
.categories {
    top: 3%;
    width: 80%;
    height: 78%;
    background-color: $co_categories_list;
    opacity: .8;
    border-radius: 0em 2em 2em 0em;
    .categories-list {
        width: 100%;
        height: 100%;
        @include flexbox((
            display: flex,
            flex-direction: column,
            flex-wrap:nowrap,
            justify-content: space-around,
            align-content: stretch,
            align-items: stretch
        ));
        .category-item {
            @include flex(0 1 auto);
            max-width: 90%;
            img {
                width: 100%;
            }
        }
    }
}
.container_products {
    height: 100%;
    width: 100%;
    .product-list-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        .product-list-scroller {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            .product-list {
                width: 100%;
                height: 100%;
                @include flexbox((
                    display: flex,
                    flex-direction: row,
                    flex-wrap:wrap,
                    justify-content: space-between,
                    align-content: flex-start,
                    align-items: stretch
                ));
                .product {
                    @include flex(0 1 30%);
                    .product-img {
                        width: 100%;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.options-selector {
    width: 95%;
    height: 90%;
    bottom: 0;
    padding: 2% 2.5% 0% 2.5%;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    .options-selector-content{
        float: left;
        width: 90%;
        height: 100%;
        .values-list {
            width: 100%;
            height: 100%;
            @include flexbox((
                display: flex,
                flex-direction: row,
                flex-wrap:nowrap,
                justify-content: flex-start,
                align-content: stretch,
                align-items: stretch
            ));
            .block-selection {
                @include flex(0 1 24%);
                height: 90%;
                margin-right: 1%;
                .top-block {
                    display: block;
                    width: 100%;
                    height: 49%;
                    font-size: 2em;
                    text-align: center;
                    color: white;
                    background-color: #000000;
                    opacity: .7;
                    border-radius: .5em .5em 0em 0em;
                    .block-quantity {
                        font-size: 1em;
                        width: 80%;
                        text-align: center;
                        background-color: transparent;
                        color: white;
                        border: none;
                    }
                    .block-information {
                        font-size: 0.8em;
                        color: yellow;
                    }
                }
                .bottom-block {
                    display: block;
                    width: 100%;
                    height: 49%;
                    font-size: 3em;
                    text-align: center;
                    color: white;
                    background-color: $co_menu_red;
                    border-radius: 0em 0em .5em .5em;
                    line-height: 1em;
                    .block-increase {
                        display: inline-block;
                        float: left;
                        height: 100%;
                        width: 48%;
                        border-right: 0.1em solid $co_menu_background;
                        img {
                            width: 60%;
                        }
                    }
                    .block-decrease {
                        display: inline-block;
                        float: right;
                        height: 100%;
                        width: 48%;
                        img {
                            display: block;
                            width: 40%;
                            margin: auto;
                        }
                    }
                }
            }
        }
    }
    .action-selector {
        width: 8%;
        height: 100%;
        float: right;
        position: relative;
        img {
            border-radius: 50%;
            width: 100%;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            background: rgba(193,39,44,1);
            background: -moz-linear-gradient(top, rgba(193,39,44,1) 0%, rgba(145,29,35,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(193,39,44,1)), color-stop(100%, rgba(145,29,35,1)));
            background: -webkit-linear-gradient(top, rgba(193,39,44,1) 0%, rgba(145,29,35,1) 100%);
            background: -o-linear-gradient(top, rgba(193,39,44,1) 0%, rgba(145,29,35,1) 100%);
            background: -ms-linear-gradient(top, rgba(193,39,44,1) 0%, rgba(145,29,35,1) 100%);
            background: linear-gradient(to bottom, rgba(193,39,44,1) 0%, rgba(145,29,35,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1272c', endColorstr='#911d23', GradientType=0 );
        }
    }
}

.title-quantity {
    margin-top: .2em;
    text-align: center;
    font-size: .8em;
    display: block;
}
.units-quantity {
    margin-top: .1em;
    text-align: center;
    font-size: 2.2em;
    line-height: .8em;
    display: block;
}
.only-quantity-total {
    position: absolute;
    margin: auto;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 1.7em;
}


.destination-selector{
    width: 60%;
    height: 60%;
    margin: auto;
    margin-top: 2%;
    color: white;
    font-size: 1.2em;
    .destination-list{
        @include flexbox((
            display: flex,
            flex-direction: row,
            flex-wrap:nowrap,
            justify-content: center,
            align-content: stretch,
            align-items: stretch
        ));
        height: 100%;
        .destination{
            @include flex(0 1 25%);
            background-color: $co_menu_red;
            text-align: center;
            line-height: 4em;
            border-left: .1em solid rgba(255,255,255,.6);
            opacity: .6;
        }
        .destination:first-child{
            border-radius: 1em 0 0 1em;
            border-left: none !important;
        }
        .destination:last-child{
            border-radius: 0 1em 1em 0;
        }
        .selected {
            opacity: 1;
        }
    }
}
.invoice-screen {
    height: 100%;
    width: 100%;
    height: 75%;
    width: 100%;
    .money-list {
        @include flexbox((
            display: flex,
            flex-direction: row,
            flex-wrap:wrap,
            justify-content: space-between,
            align-content: stretch,
            align-items: stretch
        ));
        height: 72%;
        width: 100%;
        .money-details {
            @include flex(0 1 26%);
            .money-detail-item {
                width: 100%;
                img {
                    width: 100%;
                }
                .money-subitems {
                    width: 100%;
                    height: 100%;
                    @include flexbox((
                        display: flex,
                        flex-direction: row,
                        flex-wrap:wrap,
                        justify-content: space-between,
                        align-content: stretch,
                        align-items: stretch
                    ));
                    .money-detail-subitem {
                        @include flex(0 1 45%);
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .bottom-screen{
        height: 12%;
        width: 100%;
        border-top: .1em solid white;
        .name-bottom{
            display: inline-block;
            width: 30%;
            text-align: center;
            height: 40%;
            color: white;
        }
        .amounts{
            color: white;
            float: right;
            width: 70%;
            height: 100%;
            margin-top: 1%;
            .amount{
                float: left;
                height: 80%;
                width: 22%;
                padding: 1.8% 0%;
                background-color: $co_menu_red;
                border-left: .2em solid rgba(255,255,255,.7);
                .title-amount{
                    height: 28%;
                    width: 100%;
                    display: block;
                    padding: 1% 0;
                    font-size: .8em;
                    color: $co_letter_yellow;
                }
                .value-amount{
                    height: 70%;
                    width: 100%;
                    display: block;
                    padding: 1% 0;
                    font-size: 1.6em;
                }
            }
            .amount:first-child {
                border-left: none !important;
                border-radius: .5em 0 0 .5em;
            }
            .amount:last-child {
                border-radius: 0 .5em .5em 0;
            }
        }
    }
}

.client-screen {
    width: 100%;
    height: 100%;
    .client-details {
        height: 85%;
        width: 100%;
        @include flexbox((
            display: flex,
            flex-direction: column,
            flex-wrap:nowrap,
            justify-content: flex-start,
            align-content: stretch,
            align-items: stretch
        ));
        .client-detail-item {
            font-size: larger;
            color: white;
            @include flex(0 1 16%);
            max-height: 16%;
            font-size: 1.4em;
            .label {
                display: inline-block;
                width: 18%;
                height: 100%;
                float: left;
                text-align: right;
                line-height: 3.5em;
            }
            .detail {
                display: inline-block;
                width: 75%;
                height: 75%;
                background-color: transparent;
                border: none;
                float: right;
                color: white;
                font-size: 1em;
                text-align: left;
                margin: 2.5%;
            }
        }
    }
}

.font-black {
    font-family: Roboto-black;
}
.font-bold {
    font-family: Roboto-bold;
}
.font-bold-condensed {
    font-family: Roboto-bold-condensed;
}
.font-medium {
    font-family: Roboto-medium;
}
.font-regular {
    font-family: Roboto-regular;
}
.selected-product {
    img {
        filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
    }
}
.selected {
    background-color: $co_order_orderline_selected;
}
