$co_menu_red : #c1272d;
$co_letter_yellow: #ffdf1b;
$orange_color: rgba(242, 101, 34,1);
$orange_opacity_color: rgba(242, 101, 34, .5);
$yellow_opacity_color: rgba(255,153,0,.5);
$black_opacity_color: rgba(0,0,0,.4);
$yellow_letter_color: rgba(255,223,27,1);
$red_color: #C1272D;
$red_strong_color: #F16623;

@import "compass";

/* DEFINITION OF FONTS */
@font-face {
    font-family: Roboto-black;
    src: url('../fonts/roboto/Roboto-Black.ttf');
}
@font-face {
    font-family: Roboto-bold;
    src: url('../fonts/roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: Roboto-bold-condensed;
    src: url('../fonts/roboto/RobotoCondensed-Bold.ttf');
}
@font-face {
    font-family: Roboto-medium;
    src: url('../fonts/roboto/Roboto-Medium.ttf');
}
@font-face {
    font-family: Roboto-regular;
    src: url('../fonts/roboto/Roboto-Regular.ttf');
}

.font-black {
    font-family: Roboto-black;
}
.font-bold {
    font-family: Roboto-bold;
}
.font-bold-condensed {
    font-family: Roboto-bold-condensed;
}
.font-medium {
    font-family: Roboto-medium;
}
.font-regular {
    font-family: Roboto-regular;
}

@mixin fontBlack {
    font-family: Roboto-black;
}
@mixin fontBold {
    font-family: Roboto-bold;
}
@mixin fontBoldCondensed {
    font-family: Roboto-bold-condensed;
}
@mixin fontMedium {
    font-family: Roboto-medium;
}
@mixin fontRegular {
    font-family: Roboto-regular;
}
/* --------------------------------------------- */

html, body, .openerp, .oe_webclient, .oe_application, .oe_application>div {
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
}
/* Unset default button in input type=number*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
.pos {
    background-image: url(../img/background.svg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    @include flexbox((
        display: flex,
        flex-direction: row,
        flex-wrap:nowrap,
        justify-content: space-between,
        align-content: stretch,
        align-items: stretch
    ));
    button {
        background-color: transparent;
        border: none;
        box-shadow: none;
        outline: none;
    }
}
.pos-leftpane {
    height: 100%;
    @include flex(0 1 7vw);
}

.pos-centerpane {
    height: 100%;
    @include flex(0 1 66vw);
    @include flexbox((
        display: flex,
        flex-direction: column,
        flex-wrap:nowrap,
        justify-content: space-between,
        align-content: stretch,
        align-items: stretch
    ));
    position: relative;
    .center-top {
        @include flex(0 1 18vh);
        width: 100%;
        position: relative;
        min-height: 18vh;
        .options{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0%;
            transition: all 600ms ease-in-out;
            -webkit-transition: all 600ms ease-in-out;
            -moz-transition: all 600ms ease-in-out;
            z-index: 90;
            .background{
                position: absolute;
                width: 100%;
                height: 100%;
                top: -120%;
                background-image: url("../img/company.svg");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 18vh auto;
                transition: all 600s ease-in-out;
                -webkit-transition: all 600ms ease-in-out; /** Chrome & Safari **/
                -moz-transition: all 600ms ease-in-out; /** Firefox **/
                z-index: 80;
            }
        }
    }
    .center-middle {
        @include flex(0 1 66vh);
        max-height: 66vh;
        .screens {
            width: 100%;
            height: 100%;
            .screen {
                padding: 0 5%;
                width: 90%;
                height: 100%;
                .header-screen{
                    width: 90%;
                    display: inline-block;
                    padding-left: 5%;
                    padding-right: 5%;
                    border-bottom: .1em solid white;
                    color: white;
                    height: 11vh;
                    position: relative;
                    .name-screen{
                        display: inline-block;
                        width: 30%;
                        text-align: left;
                        margin: 0;
                        left: 5%;
                        position: absolute;
                        bottom: 10%;
                    }
                    .button-screen{
                        display: inline-block;
                        width: 23%;
                        height: 34%;
                        text-align: center;
                        margin: 4.5% 3.5%;
                        background-color: $orange_color;
                        border-radius: .8em;
                        color: white;
                        opacity: .5;
                    }
                    .selected{
                        opacity: 1;
                    }
                }
            }
        }
    }
    .center-bottom {
        @include flex(0 1 16vh);
        max-height: 16vh;
        .pos-actionbar {
            border-top: .1em solid white;
            width: 90%;
            height: 16vh;
            margin: 0 5%;
            .pos-actionbar-button-list {
                list-style:  none;
                height: 100%;
                width: 100%;
                @include flexbox((
                    display: flex,
                    flex-direction: row,
                    flex-wrap: nowrap,
                    justify-content: flex-end,
                    align-content: center,
                    align-items: center
                ));
                .button {
                    @include flex(0 1 5.6vw);
                    .icon {
                        width: 100%;
                        img {
                            width: 100%;
                            height: 5.6vh;
                        }
                    }
                }
            }
        }
    }
}

.pos-rightpane {
    height: 100%;
    @include flex(0 1 27vw);
    .right-header {
        height: 10vh;
        width: 100%;
        position: relative;
        background-color: $orange_color;
        .sale {
            width: 64%;
            height: 70%;
            color: white;
            float: left;
            margin: 3% 0;
            border-right: .2em solid rgba(255,255,255,.5);
            .sale-type {
                font-size: 1.2em;
                font-weight: bold;
                color: white;
                display: inline;
                width: 100%;
                height: 100%;
                p {
                    text-align: center;
                    line-height: 0.3em;
                }
            }
        }
        .user {
            height: 100%;
            width: 34%;
            float: right;
            .user-data {
                height: 100%;
                position: relative;
                .user-image {
                    height: 100%;
                    width: 100%;
                    display: inline-block;
                    text-align: center;
                    .helper {
                        display: inline-block;
                        height: 100%;
                        vertical-align: middle;
                    }
                    img {
                        height: 8vh;
                        border-radius: 50%;
                        border: 2px solid white;
                        vertical-align: middle;
                    }
                }
                .active {
                    display: block !important;
                    z-index: 10;
                }
                .user-options {
                    display: none;
                    margin:0px; padding:0px;
                    position: absolute;
                    width: 100%;
                    background-color:rgba(0,0,0,.9);
                    color: white;
                    clear: both;
                    border-radius: 1em;
                    li {
                        list-style-type:none; margin:10px 0 0 0;
                        a {
                            display:block;
                            padding:5px 10px;
                            text-decoration:none;
                            color: white;
                        }
                        &:active {
                            background-color: $co_menu_red;
                        }
                    }
                    &:after {
                        content: "";
                        width: 0;
                        height: 0;
                        position: absolute;
                        bottom: 100%;
                        right: 34%;
                        border-width: 0 6px 6px 6px;
                        border-style: solid;
                        border-color: rgba(0,0,0,.8) transparent;
                    }
                    &:before {
                        content: "";
                        width: 0;
                        height: 0;
                        position: absolute;
                        bottom: 100%;
                        right: 36%;
                        border-width: 0 8px 8px 8px;
                        border-style: solid;
                        border-color: rgba(0,0,0,0.1) transparent;
                    }
                }
            }
        }
    }
    .menu-orders {
        height: 90vh;
        right: 0;
        color: white;
        .order-container {
            height: 100%;
            background-color: $yellow_opacity_color;
            .order-header {
                height: 8vh;
                background-color: $orange_opacity_color;
                .order-type-of {
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    float: left;
                    @include flexbox((
                        display: flex,
                        flex-direction: row,
                        flex-wrap:nowrap,
                        justify-content: space-between,
                        align-content: stretch,
                        align-items: stretch
                    ));
                    .type-of {
                        @include flex(0 1 50%);
                        text-align: center;
                        height: 100%;
                        .helper {
                            display: inline-block;
                            height: 100%;
                            vertical-align: middle;
                        }
                        img {
                            height: 6vh;
                            display: inline-block;
                            vertical-align: middle;

                        }
                    }
                    .outside {
                        border-left: .2em solid rgba(255, 255, 255, 0.5);
                        margin: .5vh 0px;
                        height: 80%;
                    }
                    }
            }
            .order-scroller {
                width: 100%;
                height: 72vh;
                overflow-y: auto;
                .orderline {
                    width: 100%;
                    padding-top: .5em;
                    border-bottom: .3em solid $orange_opacity_color;
                    .product-quantity {
                        width: 20%;
                        height: 100%;
                        display: inline-block;
                        line-height: 0;
                        font-size: 1.5em;
                        vertical-align: top;
                        text-align: right;
                        .number {
                            line-height: 1em;
                            text-align: right;
                            font-size: 5vh;
                        }
                    }
                    .product-info {
                        width: 60%;
                        display: inline-block;
                        .product-name {
                            color: white;
                            font-size: 1.2em;
                        }
                        .product-details, .product-detail-composed {
                            color: $co_letter_yellow;
                            font-size: 1em;
                        }
                    }
                    .product-delete {
                        width: 11%;
                        display: inline-block;
                        vertical-align: top;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
            .order-summary {
                width: 100%;
                height: 10vh;
                background-color: $orange_color;
                .line {
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    font-size: 4vh;
                    .entry {
                        width: 80%;
                        display: inline-block;
                        align-self: center;
                        .value, .value-cash {
                            color: $co_letter_yellow;
                        }
                        .subentry-total {
                            display: block;
                        }
                        .subentry-cash {
                            display: block;
                        }
                        .subentry {
                            display: block;
                        }
                    }
                    .action-next {
                        width: 20%;
                        display: inline-block;
                        text-align: center;
                        align-self: center;
                        .helper {
                            display: inline-block;
                            vertical-align: middle;
                        }
                        img {
                            width: 70%;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
}
.categories {
    width: 7vw;
    height: 100%;
    background-color: $yellow_opacity_color;
    opacity: .8;
    .time {
        height: 10%;
        width: 100%;
        background-color: $orange_color;
        text-align: center;
        line-height: 10vh;
        color: white;
    }
    .categories-list {
        width: 100%;
        height: 90%;
        @include flexbox((
            display: flex,
            flex-direction: column,
            flex-wrap:nowrap,
            justify-content: flex-end,
            align-content: stretch,
            align-items: stretch
        ));
        .category-item {
            @include flex(0 1 20vh);
            text-align: center;
            .helper {
                display: inline-block;
                vertical-align: middle;
            }
            img {
                width: 100%;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}
.container_products {
    height: 54vh;
    width: 100%;
    .product-list-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        .product-list-scroller {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            .product-list {
                width: 100%;
                height: 100%;
                @include flexbox((
                    display: flex,
                    flex-direction: row,
                    flex-wrap:wrap,
                    justify-content: space-between,
                    align-content: flex-start,
                    align-items: stretch
                ));
                .product {
                    @include flex(0 1 30%);
                    .product-img {
                        width: 100%;
                        img {
                            width: 100%;
                        }
                    }
                    .information{
                        height: 4.5vh;
                        line-height: 4.5vh;
                        font-size: 3.5vh;
                        color: white;
                        @include fontBlack;
                        .number{
                            height: 100%;
                            background-color: $red_color;
                            float: left;
                            margin-left: 20%;
                            display: inline-block;
                            width: 30%;
                            label {
                                font-size: .5em;
                            }
                        }
                        .price{
                            display: inline-block;
                            height: 100%;
                            background-color: $red_strong_color;
                            float: left;
                            width: 30%;
                            label {
                                font-size: .5em;
                            }
                        }
                    }
                }
            }
        }
    }
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.options-selector {
    width: 95%;
    height: 100%;
    top: 0%;
    //transform: translate(0,120%);;
    /*-webkit-animation: fadeIn 1s;*/
    /*animation: fadeIn 1s;*/
    padding: 0 2.5%;
    position: relative;
    .options-selector-content{
        width: 100%;
        height: 100%;
        background: -moz-linear-gradient(top, $orange_color 57%, $yellow_opacity_color 57%); /* FF3.6+ */
        background: -webkit-linear-gradient(top, $orange_color 57%,$yellow_opacity_color 57%); /* Chrome10+,Safari5.1+ */
        background: linear-gradient(to bottom, $orange_color 10vh,$yellow_opacity_color 10vh); /* W3C */
        /*border-radius: 0em 0em 1.5em 1.5em;*/
        .values-list {
            width: 100%;
            height: 100%;
            @include flexbox((
                display: flex,
                flex-direction: row,
                flex-wrap:nowrap,
                justify-content: flex-start,
                align-content: stretch,
                align-items: stretch
            ));
            .block-selection {
                @include flex(0 1 26.5%);
                height: 100%;
                margin-right: 1%;
                position: relative;
                border-right: .2vw solid rgba(255,255,255, 0.5);
                .top-block {
                    display: flex;
                    width: 100%;
                    height: 10vh;
                    font-size: 3.3vh;
                    text-align: center;
                    position: relative;
                    color: $yellow_letter_color;
                    label {
                        position: absolute;
                        top: 1%;
                        left: 5%;
                        color: white;
                        font-size: 3vh;
                        @include fontBlack;
                    }
                    .block-quantity {
                        width: 90%;
                        position: absolute;
                        bottom: 0;
                        text-align: right;
                        background-color: transparent;
                        border: none;
                        height: 70%;
                        margin: 2% 0px;
                        color: $yellow_letter_color;
                        font-size: 7vh;
                        padding: 0% 5%;
                        height: 6.5vh;
                        @include fontBlack;
                    }
                }
                .bottom-block {
                    display: block;
                    width: 100%;
                    text-align: center;
                    color: white;
                    height: 6vh;
                    margin: 1vh 0px;
                    line-height: 0.5em;
                    .block-increase {
                        display: inline-block;
                        float: left;
                        height: 100%;
                        width: 33%;
                        .helper {
                            display: inline-block;
                            height: 100%;
                            vertical-align: middle;
                        }
                        img {
                            width: 50%;
                            vertical-align: middle;
                            height: 3vh;
                        }
                    }
                    .block-image {
                        display: inline-block;
                        float: center;
                        height: 100%;
                        width: 33%;
                        img {
                            /*width: 50%;*/
                            height: 6vh;
                        }
                    }
                    .block-decrease {
                        display: inline-block;
                        float: right;
                        height: 100%;
                        width: 33%;
                        text-align: center;
                        .helper {
                            display: inline-block;
                            height: 100%;
                            vertical-align: middle;
                        }
                        img {
                            width: 50%;
                            vertical-align: middle;
                            height: 3vh;
                        }
                    }
                }
            }
            .total-selection {
                @include flex(0 1 20%);
                order: 100;
                border-right: none !important;
                .top-block {
                    .block-information {
                        font-size: 5vh;
                        width: 100%;
                        padding-bottom: 20%;
                        align-self: center;
                        @include fontBlack;
                    }
                }
                .bottom-block {
                    border: none;
                    .total-quantity {
                        line-height: 6vh;
                        font-size: 8vh;
                    }
                }
            }
        }
    }
}

.pow_hidden {
    top: -120% !important;
    background-position: center 0% !important;
    transition: top 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 600ms ease-in-out; /** Firefox **/
    .background{
        top: 120% !important;
    }
}

@keyframes removed-item-animation {
    0% {
    opacity: 1;
    transform: translateX(0) rotateZ(0);
    }

    50% {
    opacity: 1;
    transform: translateX(400px) rotateZ(0);
    }

    75% {
    opacity: 1;
    transform: translateX(420px) rotateZ(-30deg);
    }

    100% {
    opacity: 0;
    transform: translateX(800px) rotateZ(-60deg)  translateY(400px);
    }
}

.removed {
    animation: removed-item-animation 1s linear;
    transform-origin: 390px 100%;
}
.restored {
    transform: translateX(27vw);
    animation: 
    openspace .3s ease forwards, 
    restored-item-animation .5s .3s cubic-bezier(.14,.25,.52,1.56) forwards;
}

@keyframes openspace {
    to {
        height: auto;
    }
}

@keyframes restored-item-animation {
    0% {
        opacity: 0;
        transform: translateX(25vw);
    }

    70% {
        opacity: 1;
        transform: translateX(5vw);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.title-quantity {
    margin-top: .2em;
    text-align: center;
    font-size: .8em;
    display: block;
}
.units-quantity {
    margin-top: .1em;
    text-align: center;
    font-size: 2.2em;
    line-height: .8em;
    display: block;
}
.only-quantity-total {
    position: absolute;
    margin: auto;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 1.7em;
}


.destination-selector{
    width: 60%;
    height: 60%;
    margin: auto;
    margin-top: 2%;
    color: white;
    font-size: 1.2em;
    .destination-list{
        @include flexbox((
            display: flex,
            flex-direction: row,
            flex-wrap:nowrap,
            justify-content: center,
            align-content: stretch,
            align-items: stretch
        ));
        height: 100%;
        .destination{
            @include flex(0 1 25%);
            background-color: $co_menu_red;
            text-align: center;
            line-height: 4em;
            border-left: .1em solid rgba(255,255,255,.6);
            opacity: .6;
        }
        .destination:first-child{
            border-radius: 1em 0 0 1em;
            border-left: none !important;
        }
        .destination:last-child{
            border-radius: 0 1em 1em 0;
        }
        .selected {
            opacity: 1;
        }
    }
}
.invoice-screen {
    height: 100%;
    width: 100%;
    height: 75%;
    width: 100%;
    .money-list {
        @include flexbox((
            display: flex,
            flex-direction: row,
            flex-wrap:wrap,
            justify-content: space-between,
            align-content: stretch,
            align-items: stretch
        ));
        height: 44vh;
        width: 69%;
        margin: auto;
        .money-details {
            @include flex(0 1 26%);
            .money-detail-item {
                width: 100%;
                img {
                    width: 100%;
                }
                .money-subitems {
                    width: 100%;
                    height: 100%;
                    @include flexbox((
                        display: flex,
                        flex-direction: row,
                        flex-wrap:wrap,
                        justify-content: space-between,
                        align-content: stretch,
                        align-items: stretch
                    ));
                    .money-detail-subitem {
                        @include flex(0 1 45%);
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .bottom-screen{
        height: 9vh;
        width: 100%;
        .name-bottom{
            display: inline-block;
            width: 30%;
            text-align: center;
            height: 40%;
            color: white;
        }
        .amounts{
            color: white;
            width: 63%;
            height: 100%;
            margin: auto;
            .amount{
                float: left;
                height: 80%;
                width: 24%;
                padding: 1.8% 0%;
                background-color: $orange_color;
                border-left: .2em solid rgba(255,255,255,.7);
                .title-amount{
                    height: 28%;
                    width: 100%;
                    display: block;
                    padding: 1% 0;
                    color: $co_letter_yellow;
                    font-size: .8em;
                    line-height: .5em;
                }
                .value-amount{
                    height: 70%;
                    width: 100%;
                    display: block;
                    padding: 1% 0;
                    font-size: 1.6em;
                }
            }
            .amount:first-child {
                border-left: none !important;
                border-radius: .5em 0 0 .5em;
            }
            .amount:last-child {
                border-radius: 0 .5em .5em 0;
            }
            .amount:nth-child(even) {
                background: transparent repeating-linear-gradient(-55deg, #F26522, #F26522 10px, rgba(242, 101, 34, 0.5) 10px, rgba(242, 101, 34, 0.5) 20px) repeat scroll 0% 0%;
            }
        }
    }
}

.client-screen {
    width: 100%;
    height: 100%;
    .client-details {
        height: 54vh;
        width: 100%;
        @include flexbox((
            display: flex,
            flex-direction: column,
            flex-wrap:nowrap,
            justify-content: flex-start,
            align-content: stretch,
            align-items: stretch
        ));
        .client-detail-item {
            font-size: larger;
            color: white;
            @include flex(0 1 16%);
            max-height: 16%;
            font-size: 2em;
            .label {
                display: inline-block;
                width: 18%;
                height: 100%;
                float: left;
                text-align: right;
                line-height: 2.5em;
            }
            .detail {
                display: inline-block;
                width: 75%;
                height: 75%;
                background-color: transparent;
                border: none;
                float: right;
                color: white;
                font-size: 1em;
                text-align: left;
                margin: 2.5%;
                @include input-placeholder {
                    color: white;
                }
            }
        }
    }
}

.selected-product {
    img {
        filter: drop-shadow(5px 3px 4px rgba(0, 0, 0, 0.5));
    }
}
.selected {
    background-color: $orange_color !important;
}
