/* Onscreen Keyboard http://net.tutsplus.com/tutorials/javascript-ajax/creating-a-keyboard-with-css-and-jquery/ */

.pos .keyboard_frame{
    display: none;
    position:absolute;
    left:    0;
    bottom:  0px;
    margin:  0;
    padding: 0;
    padding-top: 15px;
    width: 100%;
    height: 0px;    /* 235px, animated via jquery */
	/*background-color: rgba(0, 0, 0, 0.5);*/
    overflow:hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 1em 1em 0 0;
    z-index:10000;

}
.pos .keyboard_frame .close_button{
    height:60px;
    width:60px;
    text-align:center;
    background-color: transparent;
    color: white;
    font-size: 12px;
    line-height:40px;
	-webkit-border-radius: 5px;
    position:absolute;
    top:0;
    right:15px;
    cursor: pointer;
    border: .2em solid white;
    border-radius: 50%;
    line-height: 60px;
}
.pos .keyboard li {
    float: left;
    text-align: center;
    border: 1px solid #F0F0F0;
    top: 0px;
    cursor: pointer;
    width: 4vw;
    height: 5.5vh;
    line-height: 5.5vh;
    border-radius: .4em;
    /*color: #FFF;*/
    font-size: 1.6em;
    margin: .5vh .2vw;
    -webkit-transition-property: top, background-color;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    background: rgb(250, 250, 250);
    background: -moz-linear-gradient(top, rgb(194, 190, 190), rgb(252, 252, 252));
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(194, 190, 190)), to(rgb(252, 252, 252)));
    color:  rgb(50, 50, 50);
    text-shadow: 0 0 2px rgb(255, 255, 255);
    -moz-box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 .4em rgb(200, 200, 200), 0 .1em 0 rgb(130, 130, 130), 0 .11em 0 rgba(0, 0, 0, .4), 0 .1em .11em rgba(0, 0, 0, .9);
    -webkit-box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 .4em rgb(200, 200, 200), 0 .1em 0 rgb(130, 130, 130), 0 .11em 0 rgba(0, 0, 0, .4), 0 .1em .11em rgba(0, 0, 0, .9);
    box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 .4em rgb(200, 200, 200), 0 .1em 0 rgb(130, 130, 130), 0 .11em 0 rgba(0, 0, 0, .4), 0 .1em .11em rgba(0, 0, 0, .9);
}
.pos .keyboard .delete {
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
}
.pos .keyboard .return {
    background-color: #7195B9;
}
.pos .keyboard li:active{
	position: relative;
	top: 2px;
	left: 0px;
	border-color: #ddd;
    background-color:#e5e5e5;
	cursor: pointer;
    -webkit-transition-property: top, background-color;
    -webkit-transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-out;
}
.pos .numeral_keyboard {
    width: 14vw;
    height: 99%;
    position: absolute;
    margin: auto;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1em 1em 0px 0px;
    padding: .5% .5% 0 .5%;
}
.pos .uppercase {
	text-transform: uppercase;
}
.pos .on {
	display: none;
}
.pos .firstitem{
	clear: left;
}
.pos .keyboard .lastitem {
	margin-right: 0 !important;
}

/* ---- full sized keyboard ---- */

.pos .full_keyboard {
    list-style: none;
    font-size: 14px;
    width: 685px;
    height: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
}
.pos .full_keyboard li{
	margin: 0 5px 5px 0 !important;
	width: 40px;
	height: 40px;
	line-height: 40px;
}
.pos .full_keyboard .tab, .pos .full_keyboard .delete {
	width: 70px;
}
.pos .full_keyboard .capslock {
	width: 80px;
}
.pos .full_keyboard .return {
	width: 77px;
}
.pos .full_keyboard .left-shift {
	width: 95px;
}
.pos .full_keyboard .right-shift {
	width: 109px;
}
.pos .full_keyboard .space {
	clear: left;
	width: 640px;
}

/* ---- simplified keyboard ---- */

.pos .simple_keyboard {
    list-style: none;
    font-size: 16px;
    width: 70%;
    height: 220px;
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: rgba(255,255,255,.2);
    border-radius: 1em 1em 0 0;
}
.pos .simple_keyboard li{
    /*margin: 0 5px 5px 0 !important;
    width: 49px;
    height: 49px;
    line-height: 49px;
    color: white;
    background-color: transparent;
    border-radius: 1em;*/
}
.pos .simple_keyboard li {
    float: left;
    text-align: center;
    border: 1px solid #F0F0F0;
    top: 0px;
    cursor: pointer;
    /*width: 8%;*/
    /*border-radius: .4em;*/
    /*color: #FFF;*/
    /*font-size: 1.6em;*/
    /*margin: 0.6%;
    padding: 1% 0%;*/
}
.pos .simple_keyboard .firstitem.row_qwerty{
    margin-left:.5vw !important;
}
.pos .simple_keyboard .firstitem.row_asdf{
    margin-left:2vw !important;
}
.pos .simple_keyboard .firstitem.row_zxcv{
    margin-left:3.5vw !important;
}
.pos .simple_keyboard .delete{
    width: 6vw;
}
.pos .simple_keyboard .return{
    width: 8vw;
}
.pos .simple_keyboard .space{
    width:26vw;
}
.pos .simple_keyboard .numlock{
    margin-left:.5vw !important;
    width:5vw;
}
