/* DEFINITION OF FONTS */
@font-face {
  font-family: Roboto-black;
  src: url("../fonts/roboto/Roboto-Black.ttf");
}
@font-face {
  font-family: Roboto-bold;
  src: url("../fonts/roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: Roboto-bold-condensed;
  src: url("../fonts/roboto/RobotoCondensed-Bold.ttf");
}
@font-face {
  font-family: Roboto-medium;
  src: url("../fonts/roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: Roboto-regular;
  src: url("../fonts/roboto/Roboto-Regular.ttf");
}
/* line 35, ../scss/main.scss */
.font-black {
  font-family: Roboto-black;
}

/* line 38, ../scss/main.scss */
.font-bold {
  font-family: Roboto-bold;
}

/* line 41, ../scss/main.scss */
.font-bold-condensed {
  font-family: Roboto-bold-condensed;
}

/* line 44, ../scss/main.scss */
.font-medium {
  font-family: Roboto-medium;
}

/* line 47, ../scss/main.scss */
.font-regular {
  font-family: Roboto-regular;
}

/* --------------------------------------------- */
/* line 68, ../scss/main.scss */
html, body, .openerp, .oe_webclient, .oe_application, .oe_application > div {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Unset default button in input type=number*/
/* line 75, ../scss/main.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 80, ../scss/main.scss */
input[type=number] {
  -moz-appearance: textfield;
}

/* line 83, ../scss/main.scss */
.pos {
  background-image: url(../img/background.svg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -webkit-align-content: stretch;
  -webkit-align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
}
/* line 99, ../scss/main.scss */
.pos button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
}
/* line 105, ../scss/main.scss */
.pos .user {
  height: 10vh;
  width: 7vw;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 500;
}
/* line 113, ../scss/main.scss */
.pos .user .user-data {
  height: 100%;
  position: relative;
}
/* line 116, ../scss/main.scss */
.pos .user .user-data .user-image {
  height: 100%;
  width: 100%;
  display: inline-block;
  text-align: center;
}
/* line 121, ../scss/main.scss */
.pos .user .user-data .user-image .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* line 126, ../scss/main.scss */
.pos .user .user-data .user-image img {
  height: 8vh;
  border-radius: 50%;
  border: 2px solid white;
  vertical-align: middle;
}
/* line 133, ../scss/main.scss */
.pos .user .user-data .active {
  display: block !important;
  z-index: 10;
}
/* line 137, ../scss/main.scss */
.pos .user .user-data .user-options {
  display: none;
  margin: 0px;
  padding: 0px;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  clear: both;
  border-radius: 1em;
}
/* line 146, ../scss/main.scss */
.pos .user .user-data .user-options li {
  list-style-type: none;
  margin: 10px 0 0 0;
}
/* line 148, ../scss/main.scss */
.pos .user .user-data .user-options li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
}
/* line 154, ../scss/main.scss */
.pos .user .user-data .user-options li:active {
  background-color: #c1272d;
}
/* line 158, ../scss/main.scss */
.pos .user .user-data .user-options:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 34%;
  border-width: 0 6px 6px 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.8) transparent;
}
/* line 169, ../scss/main.scss */
.pos .user .user-data .user-options:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 36%;
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1) transparent;
}

/* line 184, ../scss/main.scss */
.pos-leftpane {
  height: 100%;
  -webkit-flex: 0 1 7vw;
  flex: 0 1 7vw;
  order: 3;
}

/* line 190, ../scss/main.scss */
.pos-centerpane {
  height: 100%;
  -webkit-flex: 0 1 66vw;
  flex: 0 1 66vw;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -webkit-align-content: stretch;
  -webkit-align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  order: 2;
  position: relative;
}
/* line 203, ../scss/main.scss */
.pos-centerpane .center-top {
  -webkit-flex: 0 1 15vh;
  flex: 0 1 15vh;
  width: 100%;
  position: relative;
  min-height: 15vh;
}
/* line 208, ../scss/main.scss */
.pos-centerpane .center-top .options {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  transition: all 600ms ease-in-out;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  z-index: 90;
}
/* line 217, ../scss/main.scss */
.pos-centerpane .center-top .options .background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -120%;
  background-image: url("../img/company.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 15vh auto;
  transition: all 600s ease-in-out;
  -webkit-transition: all 600ms ease-in-out;
  /** Chrome & Safari **/
  -moz-transition: all 600ms ease-in-out;
  /** Firefox **/
  z-index: 80;
}
/* line 233, ../scss/main.scss */
.pos-centerpane .center-middle {
  -webkit-flex: 0 1 73vh;
  flex: 0 1 73vh;
  max-height: 73vh;
}
/* line 236, ../scss/main.scss */
.pos-centerpane .center-middle .screens {
  width: 100%;
  height: 100%;
}
/* line 239, ../scss/main.scss */
.pos-centerpane .center-middle .screens .screen {
  padding: 0 5%;
  width: 90%;
  height: 100%;
}
/* line 243, ../scss/main.scss */
.pos-centerpane .center-middle .screens .screen .header-screen {
  width: 90%;
  display: inline-block;
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: .1em solid white;
  color: white;
  height: 11vh;
  position: relative;
}
/* line 252, ../scss/main.scss */
.pos-centerpane .center-middle .screens .screen .header-screen .name-screen {
  display: inline-block;
  width: 30%;
  text-align: left;
  margin: 0;
  left: 5%;
  position: absolute;
  bottom: 10%;
}
/* line 261, ../scss/main.scss */
.pos-centerpane .center-middle .screens .screen .header-screen .button-screen {
  display: inline-block;
  width: 23%;
  height: 34%;
  text-align: center;
  margin: 4.5% 3.5%;
  background-color: #f26522;
  border-radius: .8em;
  color: white;
  opacity: .5;
}
/* line 272, ../scss/main.scss */
.pos-centerpane .center-middle .screens .screen .header-screen .selected {
  opacity: 1;
}
/* line 279, ../scss/main.scss */
.pos-centerpane .center-bottom {
  -webkit-flex: 0 1 12vh;
  flex: 0 1 12vh;
  max-height: 12vh;
}
/* line 282, ../scss/main.scss */
.pos-centerpane .center-bottom .pos-actionbar {
  border-top: .1em solid white;
  width: 90%;
  height: 12vh;
  margin: 0 5%;
}
/* line 287, ../scss/main.scss */
.pos-centerpane .center-bottom .pos-actionbar .pos-actionbar-button-list {
  list-style: none;
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -webkit-justify-content: flex-end;
  -webkit-align-content: center;
  -webkit-align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}
/* line 299, ../scss/main.scss */
.pos-centerpane .center-bottom .pos-actionbar .pos-actionbar-button-list .button {
  -webkit-flex: 0 1 15vw;
  flex: 0 1 15vw;
}
/* line 301, ../scss/main.scss */
.pos-centerpane .center-bottom .pos-actionbar .pos-actionbar-button-list .button .iconlabel {
  width: 50%;
  height: 10vh;
  font-size: 1.2em;
  color: white;
  font-family: Roboto-black;
  line-height: 10vh;
  float: left;
}
/* line 310, ../scss/main.scss */
.pos-centerpane .center-bottom .pos-actionbar .pos-actionbar-button-list .button .icon {
  width: 50%;
  height: 10vh;
  text-align: center;
  display: inline-block;
  float: left;
}
/* line 316, ../scss/main.scss */
.pos-centerpane .center-bottom .pos-actionbar .pos-actionbar-button-list .button .icon .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* line 321, ../scss/main.scss */
.pos-centerpane .center-bottom .pos-actionbar .pos-actionbar-button-list .button .icon img {
  width: 50%;
  height: 5.6vh;
  vertical-align: middle;
}

/* line 333, ../scss/main.scss */
.pos-rightpane {
  height: 100%;
  -webkit-flex: 0 1 27vw;
  flex: 0 1 27vw;
  order: 1;
}
/* line 337, ../scss/main.scss */
.pos-rightpane .menu-orders {
  height: 100%;
  right: 0;
  color: white;
}
/* line 341, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container {
  height: 100%;
  background-color: rgba(255, 153, 0, 0.5);
}
/* line 344, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-header {
  height: 8vh;
  background-color: rgba(242, 101, 34, 0.5);
}
/* line 347, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-header .order-type-of {
  width: 100%;
  height: 100%;
  text-align: center;
  float: left;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -webkit-align-content: stretch;
  -webkit-align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
}
/* line 360, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-header .order-type-of .type-of {
  -webkit-flex: 0 1 50%;
  flex: 0 1 50%;
  text-align: center;
  height: 100%;
  font-family: Roboto-black;
  font-size: 3vh;
  line-height: 6vh;
}
/* line 368, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-header .order-type-of .outside {
  border-left: 0.2em solid rgba(255, 255, 255, 0.5);
  margin: .5vh 0px;
  height: 80%;
}
/* line 375, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-scroller {
  width: 100%;
  height: 82vh;
  overflow-y: auto;
}
/* line 379, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-scroller .orderline {
  width: 100%;
  padding-top: .5em;
  border-bottom: 0.3em solid rgba(242, 101, 34, 0.5);
}
/* line 383, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-scroller .orderline .product-quantity {
  width: 20%;
  height: 100%;
  display: inline-block;
  line-height: 0;
  font-size: 1.5em;
  vertical-align: top;
  text-align: right;
}
/* line 391, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-scroller .orderline .product-quantity .number {
  line-height: 1em;
  text-align: right;
  font-size: 5vh;
}
/* line 397, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-scroller .orderline .product-info {
  width: 60%;
  display: inline-block;
}
/* line 400, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-scroller .orderline .product-info .product-name {
  color: white;
  font-size: 1.2em;
}
/* line 404, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-scroller .orderline .product-info .product-details, .pos-rightpane .menu-orders .order-container .order-scroller .orderline .product-info .product-detail-composed {
  color: #ffdf1b;
  font-size: 1em;
}
/* line 409, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-scroller .orderline .product-delete {
  width: 11%;
  display: inline-block;
  vertical-align: top;
}
/* line 413, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-scroller .orderline .product-delete img {
  width: 100%;
}
/* line 419, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-summary {
  width: 100%;
  height: 10vh;
  background-color: #f26522;
}
/* line 423, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-summary .line {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 4vh;
}
/* line 430, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-summary .line .entry {
  width: 80%;
  display: inline-block;
  align-self: center;
}
/* line 434, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-summary .line .entry .value, .pos-rightpane .menu-orders .order-container .order-summary .line .entry .value-cash {
  color: #ffdf1b;
}
/* line 437, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-summary .line .entry .subentry-total {
  display: block;
}
/* line 440, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-summary .line .entry .subentry-cash {
  display: block;
}
/* line 443, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-summary .line .entry .subentry {
  display: block;
}
/* line 447, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-summary .line .action-next {
  width: 20%;
  display: inline-block;
  text-align: center;
  align-self: center;
  height: 95%;
  background-color: #C1272D;
  padding-top: 5%;
}
/* line 455, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-summary .line .action-next .helper {
  display: inline-block;
  vertical-align: middle;
}
/* line 459, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-summary .line .action-next img {
  width: 70%;
  vertical-align: middle;
  height: 8vh;
}

/* line 470, ../scss/main.scss */
.categories {
  width: 7vw;
  height: 100%;
  background-color: rgba(255, 153, 0, 0.5);
  opacity: .8;
}
/* line 475, ../scss/main.scss */
.categories .categories-list {
  width: 100%;
  height: 90%;
  padding-top: 10vh;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -webkit-justify-content: flex-end;
  -webkit-align-content: stretch;
  -webkit-align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: stretch;
  align-items: stretch;
}
/* line 487, ../scss/main.scss */
.categories .categories-list .category-item {
  -webkit-flex: 0 1 20vh;
  flex: 0 1 20vh;
  text-align: center;
}
/* line 490, ../scss/main.scss */
.categories .categories-list .category-item .helper {
  display: inline-block;
  vertical-align: middle;
}
/* line 494, ../scss/main.scss */
.categories .categories-list .category-item img {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

/* line 502, ../scss/main.scss */
.container_products {
  height: 61vh;
  width: 100%;
}
/* line 505, ../scss/main.scss */
.container_products .product-list-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 509, ../scss/main.scss */
.container_products .product-list-container .product-list-scroller {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
/* line 515, ../scss/main.scss */
.container_products .product-list-container .product-list-scroller .product-list {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -webkit-align-content: flex-start;
  -webkit-align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: stretch;
}
/* line 526, ../scss/main.scss */
.container_products .product-list-container .product-list-scroller .product-list .product {
  -webkit-flex: 0 1 30%;
  flex: 0 1 30%;
}
/* line 528, ../scss/main.scss */
.container_products .product-list-container .product-list-scroller .product-list .product .product-img {
  width: 100%;
}
/* line 530, ../scss/main.scss */
.container_products .product-list-container .product-list-scroller .product-list .product .product-img img {
  width: 100%;
}
/* line 534, ../scss/main.scss */
.container_products .product-list-container .product-list-scroller .product-list .product .information {
  height: 4.5vh;
  line-height: 4.5vh;
  font-size: 3.5vh;
  color: white;
  font-family: Roboto-black;
}
/* line 540, ../scss/main.scss */
.container_products .product-list-container .product-list-scroller .product-list .product .information .number {
  height: 100%;
  background-color: #C1272D;
  float: left;
  margin-left: 14%;
  display: inline-block;
  width: 36%;
}
/* line 547, ../scss/main.scss */
.container_products .product-list-container .product-list-scroller .product-list .product .information .number label {
  font-size: .5em;
}
/* line 551, ../scss/main.scss */
.container_products .product-list-container .product-list-scroller .product-list .product .information .price {
  display: inline-block;
  height: 100%;
  background-color: #F16623;
  float: left;
  width: 36%;
}
/* line 557, ../scss/main.scss */
.container_products .product-list-container .product-list-scroller .product-list .product .information .price label {
  font-size: .5em;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 576, ../scss/main.scss */
.options-selector {
  width: 95%;
  height: 100%;
  top: 0%;
  /*-webkit-animation: fadeIn 1s;*/
  /*animation: fadeIn 1s;*/
  padding: 0 2.5%;
  position: relative;
}
/* line 585, ../scss/main.scss */
.options-selector .options-selector-content {
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, #f26522 57%, rgba(255, 153, 0, 0.5) 57%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(top, #f26522 57%, rgba(255, 153, 0, 0.5) 57%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, #f26522 10vh, rgba(255, 153, 0, 0.5) 10vh);
  /* W3C */
  /*border-radius: 0em 0em 1.5em 1.5em;*/
}
/* line 592, ../scss/main.scss */
.options-selector .options-selector-content .values-list {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -webkit-align-content: stretch;
  -webkit-align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}
/* line 603, ../scss/main.scss */
.options-selector .options-selector-content .values-list .block-selection {
  -webkit-flex: 0 1 26.5%;
  flex: 0 1 26.5%;
  height: 100%;
  margin-right: 1%;
  position: relative;
  border-right: 0.2vw solid rgba(255, 255, 255, 0.5);
}
/* line 609, ../scss/main.scss */
.options-selector .options-selector-content .values-list .block-selection .top-block {
  display: flex;
  width: 100%;
  height: 10vh;
  font-size: 3.3vh;
  text-align: center;
  position: relative;
  color: #ffdf1b;
}
/* line 617, ../scss/main.scss */
.options-selector .options-selector-content .values-list .block-selection .top-block label {
  position: absolute;
  top: 1%;
  left: 5%;
  color: white;
  font-size: 3vh;
  font-family: Roboto-black;
}
/* line 625, ../scss/main.scss */
.options-selector .options-selector-content .values-list .block-selection .top-block .block-quantity {
  width: 90%;
  position: absolute;
  bottom: 0;
  text-align: right;
  background-color: transparent;
  border: none;
  height: 70%;
  margin: 2% 0px;
  color: #ffdf1b;
  font-size: 7vh;
  padding: 0% 5%;
  height: 6.5vh;
  font-family: Roboto-black;
}
/* line 641, ../scss/main.scss */
.options-selector .options-selector-content .values-list .block-selection .bottom-block {
  display: block;
  width: 100%;
  text-align: center;
  color: white;
  height: 6vh;
  margin: 1vh 0px;
  line-height: 0.5em;
}
/* line 649, ../scss/main.scss */
.options-selector .options-selector-content .values-list .block-selection .bottom-block .block-increase {
  display: inline-block;
  float: left;
  height: 100%;
  width: 33%;
}
/* line 654, ../scss/main.scss */
.options-selector .options-selector-content .values-list .block-selection .bottom-block .block-increase .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* line 659, ../scss/main.scss */
.options-selector .options-selector-content .values-list .block-selection .bottom-block .block-increase img {
  width: 50%;
  vertical-align: middle;
  height: 3vh;
}
/* line 665, ../scss/main.scss */
.options-selector .options-selector-content .values-list .block-selection .bottom-block .block-image {
  display: inline-block;
  float: center;
  height: 100%;
  width: 33%;
}
/* line 670, ../scss/main.scss */
.options-selector .options-selector-content .values-list .block-selection .bottom-block .block-image img {
  /*width: 50%;*/
  height: 6vh;
}
/* line 675, ../scss/main.scss */
.options-selector .options-selector-content .values-list .block-selection .bottom-block .block-decrease {
  display: inline-block;
  float: right;
  height: 100%;
  width: 33%;
  text-align: center;
}
/* line 681, ../scss/main.scss */
.options-selector .options-selector-content .values-list .block-selection .bottom-block .block-decrease .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* line 686, ../scss/main.scss */
.options-selector .options-selector-content .values-list .block-selection .bottom-block .block-decrease img {
  width: 50%;
  vertical-align: middle;
  height: 3vh;
}
/* line 694, ../scss/main.scss */
.options-selector .options-selector-content .values-list .total-selection {
  -webkit-flex: 0 1 20%;
  flex: 0 1 20%;
  order: 100;
  border-right: none !important;
}
/* line 699, ../scss/main.scss */
.options-selector .options-selector-content .values-list .total-selection .top-block .block-information {
  font-size: 5vh;
  width: 100%;
  padding-bottom: 20%;
  align-self: center;
  font-family: Roboto-black;
}
/* line 707, ../scss/main.scss */
.options-selector .options-selector-content .values-list .total-selection .bottom-block {
  border: none;
}
/* line 709, ../scss/main.scss */
.options-selector .options-selector-content .values-list .total-selection .bottom-block .total-quantity {
  line-height: 6vh;
  font-size: 8vh;
}

/* line 719, ../scss/main.scss */
.pow_hidden {
  top: -120% !important;
  background-position: center 0% !important;
  transition: top 600ms ease-in-out;
  -webkit-transition: all 600ms ease-in-out;
  /** Chrome & Safari **/
  -moz-transition: all 600ms ease-in-out;
  /** Firefox **/
}
/* line 725, ../scss/main.scss */
.pow_hidden .background {
  top: 120% !important;
}

@keyframes removed-item-animation {
  0% {
    opacity: 1;
    transform: translateX(0) rotateZ(0);
  }
  50% {
    opacity: 1;
    transform: translateX(400px) rotateZ(0);
  }
  75% {
    opacity: 1;
    transform: translateX(420px) rotateZ(-30deg);
  }
  100% {
    opacity: 0;
    transform: translateX(800px) rotateZ(-60deg) translateY(400px);
  }
}
/* line 752, ../scss/main.scss */
.removed {
  animation: removed-item-animation 1s linear;
  transform-origin: 390px 100%;
}

/* line 756, ../scss/main.scss */
.restored {
  transform: translateX(27vw);
  animation: openspace 0.3s ease forwards, restored-item-animation 0.5s 0.3s cubic-bezier(0.14, 0.25, 0.52, 1.56) forwards;
}

@keyframes openspace {
  to {
    height: auto;
  }
}
@keyframes restored-item-animation {
  0% {
    opacity: 0;
    transform: translateX(25vw);
  }
  70% {
    opacity: 1;
    transform: translateX(5vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* line 786, ../scss/main.scss */
.title-quantity {
  margin-top: .2em;
  text-align: center;
  font-size: .8em;
  display: block;
}

/* line 792, ../scss/main.scss */
.units-quantity {
  margin-top: .1em;
  text-align: center;
  font-size: 2.2em;
  line-height: .8em;
  display: block;
}

/* line 799, ../scss/main.scss */
.only-quantity-total {
  position: absolute;
  margin: auto;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 1.7em;
}

/* line 808, ../scss/main.scss */
.destination-selector {
  width: 60%;
  height: 60%;
  margin: auto;
  margin-top: 2%;
  color: white;
  font-size: 1.2em;
}
/* line 815, ../scss/main.scss */
.destination-selector .destination-list {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -webkit-justify-content: center;
  -webkit-align-content: stretch;
  -webkit-align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
  height: 100%;
}
/* line 825, ../scss/main.scss */
.destination-selector .destination-list .destination {
  -webkit-flex: 0 1 25%;
  flex: 0 1 25%;
  background-color: #c1272d;
  text-align: center;
  line-height: 4em;
  border-left: 0.1em solid rgba(255, 255, 255, 0.6);
  opacity: .6;
}
/* line 833, ../scss/main.scss */
.destination-selector .destination-list .destination:first-child {
  border-radius: 1em 0 0 1em;
  border-left: none !important;
}
/* line 837, ../scss/main.scss */
.destination-selector .destination-list .destination:last-child {
  border-radius: 0 1em 1em 0;
}
/* line 840, ../scss/main.scss */
.destination-selector .destination-list .selected {
  opacity: 1;
}

/* line 845, ../scss/main.scss */
.invoice-screen {
  height: 100%;
  width: 100%;
  height: 75%;
  width: 100%;
}
/* line 850, ../scss/main.scss */
.invoice-screen .money-list {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -webkit-align-content: stretch;
  -webkit-align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  height: 44vh;
  width: 90%;
  margin: auto;
}
/* line 862, ../scss/main.scss */
.invoice-screen .money-list .money-details {
  -webkit-flex: 0 1 26%;
  flex: 0 1 26%;
}
/* line 864, ../scss/main.scss */
.invoice-screen .money-list .money-details .money-detail-item {
  width: 100%;
}
/* line 866, ../scss/main.scss */
.invoice-screen .money-list .money-details .money-detail-item img {
  width: 100%;
}
/* line 869, ../scss/main.scss */
.invoice-screen .money-list .money-details .money-detail-item .money-subitems {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -webkit-align-content: stretch;
  -webkit-align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
}
/* line 880, ../scss/main.scss */
.invoice-screen .money-list .money-details .money-detail-item .money-subitems .money-detail-subitem {
  -webkit-flex: 0 1 45%;
  flex: 0 1 45%;
}
/* line 882, ../scss/main.scss */
.invoice-screen .money-list .money-details .money-detail-item .money-subitems .money-detail-subitem img {
  width: 100%;
}
/* line 890, ../scss/main.scss */
.invoice-screen .subheader-screen {
  height: 6vh;
  width: 100%;
  margin-top: 1vh;
}
/* line 894, ../scss/main.scss */
.invoice-screen .subheader-screen .amounts {
  color: white;
  width: 80%;
  height: 100%;
  margin: auto;
}
/* line 899, ../scss/main.scss */
.invoice-screen .subheader-screen .amounts .amount {
  float: left;
  height: 80%;
  width: 48%;
  padding: 1.8% 0%;
  background-color: #f26522;
  border-left: 0.2em solid rgba(255, 255, 255, 0.7);
  text-align: center;
}
/* line 907, ../scss/main.scss */
.invoice-screen .subheader-screen .amounts .amount .title-amount {
  width: 40%;
  height: 100%;
  display: inline-block;
  font-size: 1em;
  line-height: 100%;
}
/* line 914, ../scss/main.scss */
.invoice-screen .subheader-screen .amounts .amount .value-amount {
  width: 55%;
  height: 100%;
  display: inline-block;
  font-size: 1.6em;
  color: #ffdf1b;
}
/* line 922, ../scss/main.scss */
.invoice-screen .subheader-screen .amounts .amount:first-child {
  border-left: none !important;
  border-radius: .5em 0 0 .5em;
  opacity: .5;
}
/* line 927, ../scss/main.scss */
.invoice-screen .subheader-screen .amounts .amount:last-child {
  opacity: 1;
  border-radius: 0 .5em .5em 0;
}
/* line 933, ../scss/main.scss */
.invoice-screen .bottom-screen {
  height: 6vh;
  width: 100%;
}
/* line 936, ../scss/main.scss */
.invoice-screen .bottom-screen .name-bottom {
  display: inline-block;
  width: 30%;
  text-align: center;
  height: 40%;
  color: white;
}
/* line 943, ../scss/main.scss */
.invoice-screen .bottom-screen .amounts {
  color: white;
  width: 70%;
  height: 100%;
  margin: auto;
}
/* line 948, ../scss/main.scss */
.invoice-screen .bottom-screen .amounts .amount {
  height: 100%;
  width: 50%;
  background-color: #f26522;
  border-left: 0.2em solid rgba(255, 255, 255, 0.7);
  margin: auto;
  text-align: center;
}
/* line 955, ../scss/main.scss */
.invoice-screen .bottom-screen .amounts .amount .title-amount {
  height: 100%;
  width: 40%;
  display: inline-block;
  font-size: 1em;
  line-height: 1em;
}
/* line 962, ../scss/main.scss */
.invoice-screen .bottom-screen .amounts .amount .value-amount {
  height: 100%;
  width: 55%;
  display: inline-block;
  font-size: 1.6em;
  line-height: 1.6em;
  color: #ffdf1b;
}
/* line 971, ../scss/main.scss */
.invoice-screen .bottom-screen .amounts .amount:first-child {
  border-left: none !important;
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
}
/* line 976, ../scss/main.scss */
.invoice-screen .bottom-screen .amounts .amount:last-child {
  border-top-right-radius: .5em;
  border-bottom-right-radius: .5em;
}

/* line 984, ../scss/main.scss */
.money-push {
  -moz-transition: opacity .25s linear, visibility .1s linear .5s;
  -webkit-transition: opacity .25s linear, visibility .1s linear .5s;
  -o-transition: opacity .25s linear, visibility .1s linear .5s;
  transition: opacity .25s linear, visibility .1s linear .5s;
}

/* line 992, ../scss/main.scss */
.modal-view:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
/* line 1003, ../scss/main.scss */
.modal-view .modal-message {
  background: #f26522;
  border: gray solid 1px;
  border-radius: 5px;
  position: absolute;
  left: 12vw;
  transform: translate(0, 100%);
  z-index: 11;
  width: 63vh;
  height: 42vh;
  color: white;
  font-family: Roboto-black;
  transition: transform 1s;
}
/* line 1016, ../scss/main.scss */
.modal-view .modal-message .change {
  margin-top: 1em;
  font-size: 3em;
}
/* line 1020, ../scss/main.scss */
.modal-view .modal-message .amount {
  font-size: 5em;
}

/* line 1027, ../scss/main.scss */
.modal-appear:before {
  display: block !important;
}
/* line 1030, ../scss/main.scss */
.modal-appear .modal-message {
  transform: translate(0, -117%);
}

/* line 1035, ../scss/main.scss */
.client-screen {
  width: 100%;
  height: 100%;
}
/* line 1038, ../scss/main.scss */
.client-screen .client-details {
  height: 54vh;
  width: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -webkit-align-content: stretch;
  -webkit-align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}
/* line 1049, ../scss/main.scss */
.client-screen .client-details .client-detail-item {
  font-size: larger;
  color: white;
  -webkit-flex: 0 1 16%;
  flex: 0 1 16%;
  max-height: 16%;
  font-size: 2em;
}
/* line 1055, ../scss/main.scss */
.client-screen .client-details .client-detail-item .label {
  display: inline-block;
  width: 18%;
  height: 100%;
  float: left;
  text-align: right;
  line-height: 2.5em;
}
/* line 1063, ../scss/main.scss */
.client-screen .client-details .client-detail-item .detail {
  display: inline-block;
  width: 75%;
  height: 75%;
  background-color: transparent;
  border: none;
  float: right;
  color: white;
  font-size: 1em;
  text-align: left;
  margin: 2.5%;
}
/* line 61, ../../../../../../../.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.client-screen .client-details .client-detail-item .detail:-moz-placeholder {
  color: white;
}
/* line 64, ../../../../../../../.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.client-screen .client-details .client-detail-item .detail::-moz-placeholder {
  color: white;
}
/* line 67, ../../../../../../../.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.client-screen .client-details .client-detail-item .detail:-ms-input-placeholder {
  color: white;
}
/* line 56, ../../../../../../../.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.client-screen .client-details .client-detail-item .detail::-webkit-input-placeholder {
  color: white;
}

/* line 1083, ../scss/main.scss */
.selected-product img {
  filter: drop-shadow(5px 3px 4px rgba(0, 0, 0, 0.5));
}

/* line 1087, ../scss/main.scss */
.selected {
  background-color: #f26522 !important;
}

/* line 1090, ../scss/main.scss */
.with_rightpane {
  min-width: 73vw;
}
