/* DEFINITION OF FONTS */
@font-face {
  font-family: Roboto-black;
  src: url("../fonts/roboto/Roboto-Black.ttf");
}
@font-face {
  font-family: Roboto-bold;
  src: url("../fonts/roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: Roboto-bold-condensed;
  src: url("../fonts/roboto/RobotoCondensed-Bold.ttf");
}
@font-face {
  font-family: Roboto-medium;
  src: url("../fonts/roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: Roboto-regular;
  src: url("../fonts/roboto/Roboto-Regular.ttf");
}
/* --------------------------------------------- */
/* line 36, ../scss/main.scss */
html, body, .openerp, .oe_webclient, .oe_application, .oe_application > div {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Unset default button in input type=number*/
/* line 43, ../scss/main.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 48, ../scss/main.scss */
input[type=number] {
  -moz-appearance: textfield;
}

/* line 51, ../scss/main.scss */
.pos {
  background-image: url("../img/background.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -webkit-align-content: stretch;
  -webkit-align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
}
/* line 65, ../scss/main.scss */
.pos button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
}

/* line 72, ../scss/main.scss */
.pos-leftpane {
  height: 100%;
  -webkit-flex: 0 1 8%;
  flex: 0 1 8%;
}

/* line 77, ../scss/main.scss */
.pos-centerpane {
  height: 100%;
  -webkit-flex: 0 1 65%;
  flex: 0 1 65%;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -webkit-align-content: stretch;
  -webkit-align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  position: relative;
}
/* line 89, ../scss/main.scss */
.pos-centerpane .center-top {
  -webkit-flex: 0 1 17%;
  flex: 0 1 17%;
  max-height: 17%;
}
/* line 93, ../scss/main.scss */
.pos-centerpane .center-middle {
  -webkit-flex: 0 1 72%;
  flex: 0 1 72%;
  max-height: 75%;
}
/* line 96, ../scss/main.scss */
.pos-centerpane .center-middle .screens {
  width: 92%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2em;
}
/* line 101, ../scss/main.scss */
.pos-centerpane .center-middle .screens .screen {
  padding: 0 5%;
  width: 90%;
  height: 100%;
}
/* line 105, ../scss/main.scss */
.pos-centerpane .center-middle .screens .screen .header-screen {
  height: 12%;
  width: 90%;
  display: block;
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: .1em solid white;
  color: white;
}
/* line 113, ../scss/main.scss */
.pos-centerpane .center-middle .screens .screen .header-screen .name-screen {
  display: inline-block;
  float: left;
  width: 30%;
  height: 40%;
  text-align: center;
}
/* line 120, ../scss/main.scss */
.pos-centerpane .center-middle .screens .screen .header-screen .button-screen {
  display: inline-block;
  float: left;
  width: 23%;
  height: 50%;
  text-align: center;
  margin: 3% 5%;
  background-color: #c1272d;
  border-radius: .8em;
  color: white;
  opacity: .5;
}
/* line 132, ../scss/main.scss */
.pos-centerpane .center-middle .screens .screen .header-screen .selected {
  opacity: 1;
}
/* line 139, ../scss/main.scss */
.pos-centerpane .center-bottom {
  -webkit-flex: 0 1 8%;
  flex: 0 1 8%;
}

/* line 144, ../scss/main.scss */
.pos-rightpane {
  height: 100%;
  -webkit-flex: 0 1 27%;
  flex: 0 1 27%;
}
/* line 147, ../scss/main.scss */
.pos-rightpane .right-header {
  height: 12%;
  width: 100%;
  position: relative;
}
/* line 151, ../scss/main.scss */
.pos-rightpane .right-header .sale {
  background-color: rgba(0, 0, 0, 0.7);
  width: 75%;
  height: 80%;
  float: right;
  margin-top: 2%;
  border-radius: 1em 0 0 1em;
  color: white;
  padding-left: 25%;
}
/* line 160, ../scss/main.scss */
.pos-rightpane .right-header .sale .sale-type {
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  display: inline;
  width: 60%;
  height: 100%;
}
/* line 167, ../scss/main.scss */
.pos-rightpane .right-header .sale .sale-type p {
  text-align: center;
  line-height: 0.3em;
}
/* line 173, ../scss/main.scss */
.pos-rightpane .right-header .user {
  right: 0;
  margin-top: 2%;
  height: 75%;
  width: 35%;
  position: absolute;
}
/* line 179, ../scss/main.scss */
.pos-rightpane .right-header .user .user-data {
  height: 100%;
  position: relative;
}
/* line 182, ../scss/main.scss */
.pos-rightpane .right-header .user .user-data .user-image {
  height: 100%;
  display: inline-block;
  margin-left: 40%;
}
/* line 186, ../scss/main.scss */
.pos-rightpane .right-header .user .user-data .user-image img {
  height: 100%;
  border-radius: 50%;
  border: 2px solid black;
}
/* line 192, ../scss/main.scss */
.pos-rightpane .right-header .user .user-data .active {
  display: block !important;
  z-index: 10;
}
/* line 196, ../scss/main.scss */
.pos-rightpane .right-header .user .user-data .user-options {
  display: none;
  margin: 0px;
  padding: 0px;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  clear: both;
  border-radius: 1em;
}
/* line 205, ../scss/main.scss */
.pos-rightpane .right-header .user .user-data .user-options li {
  list-style-type: none;
  margin: 10px 0 0 0;
}
/* line 207, ../scss/main.scss */
.pos-rightpane .right-header .user .user-data .user-options li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
}
/* line 213, ../scss/main.scss */
.pos-rightpane .right-header .user .user-data .user-options li:active {
  background-color: #c1272d;
}
/* line 217, ../scss/main.scss */
.pos-rightpane .right-header .user .user-data .user-options:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 34%;
  border-width: 0 6px 6px 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.8) transparent;
}
/* line 228, ../scss/main.scss */
.pos-rightpane .right-header .user .user-data .user-options:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 36%;
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1) transparent;
}
/* line 243, ../scss/main.scss */
.pos-rightpane .menu-orders {
  height: 85%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 2em 0 0 2em;
  color: white;
}
/* line 249, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container {
  height: 100%;
}
/* line 251, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-header {
  height: 7%;
  padding: 2%;
  border-bottom: 0.3em solid #c1272d;
}
/* line 255, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-header .order-header-content {
  height: 100%;
  width: 100%;
  background-color: #c1272d;
  border-radius: 2em 0 0 0;
}
/* line 260, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-header .order-header-content .order-dispatch {
  float: left;
  width: 75%;
  height: 100%;
  text-align: center;
}
/* line 265, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-header .order-header-content .order-dispatch h2 {
  line-height: .5em;
}
/* line 269, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-header .order-header-content .order-restart {
  float: right;
  width: 20%;
  height: 100%;
}
/* line 273, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-header .order-header-content .order-restart img {
  margin-top: 5%;
  height: 80%;
}
/* line 280, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-scroller {
  width: 100%;
  height: 73%;
  overflow-y: auto;
}
/* line 284, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-scroller .orderline {
  width: 100%;
  margin-top: 1em;
}
/* line 287, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-scroller .orderline .product-quantity {
  width: 20%;
  height: 100%;
  display: inline-block;
  line-height: 0;
  font-size: 1.5em;
  vertical-align: top;
  text-align: right;
}
/* line 295, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-scroller .orderline .product-quantity .number {
  line-height: 1em;
  text-align: right;
  font-size: 1.5em;
}
/* line 301, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-scroller .orderline .product-info {
  width: 60%;
  display: inline-block;
}
/* line 304, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-scroller .orderline .product-info .product-name {
  color: white;
  font-size: 1.2em;
}
/* line 308, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-scroller .orderline .product-info .product-details, .pos-rightpane .menu-orders .order-container .order-scroller .orderline .product-info .product-detail-composed {
  color: #ffdf1b;
  font-size: 1em;
}
/* line 313, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-scroller .orderline .product-delete {
  width: 10%;
  display: inline-block;
  vertical-align: top;
}
/* line 317, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-scroller .orderline .product-delete img {
  width: 100%;
}
/* line 323, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-summary {
  width: 95%;
  height: 14%;
  border-top: 0.2em solid #c1272d;
  padding: 2%;
}
/* line 328, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-summary .line {
  background-color: #c1272d;
  border-radius: 0 0 0 1.6em;
  width: 100%;
  height: 100%;
  font-weight: bold;
  text-align: center;
}
/* line 335, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-summary .line .entry {
  width: 65%;
  display: inline-block;
}
/* line 338, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-summary .line .entry .value, .pos-rightpane .menu-orders .order-container .order-summary .line .entry .value-cash {
  color: #ffdf1b;
}
/* line 341, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-summary .line .entry .subentry-total {
  display: block;
}
/* line 344, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-summary .line .entry .subentry-cash {
  display: block;
}
/* line 347, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-summary .line .entry .subentry {
  display: block;
}
/* line 351, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-summary .line .action-next {
  width: 30%;
  display: inline-block;
}
/* line 354, ../scss/main.scss */
.pos-rightpane .menu-orders .order-container .order-summary .line .action-next img {
  width: 65%;
}

/* line 363, ../scss/main.scss */
.categories {
  top: 3%;
  width: 80%;
  height: 78%;
  background-color: #8c5817;
  opacity: .8;
  border-radius: 0em 2em 2em 0em;
}
/* line 370, ../scss/main.scss */
.categories .categories-list {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -webkit-justify-content: space-around;
  -webkit-align-content: stretch;
  -webkit-align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: stretch;
}
/* line 381, ../scss/main.scss */
.categories .categories-list .category-item {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  max-width: 90%;
}
/* line 384, ../scss/main.scss */
.categories .categories-list .category-item img {
  width: 100%;
}

/* line 390, ../scss/main.scss */
.container_products {
  height: 100%;
  width: 100%;
}
/* line 393, ../scss/main.scss */
.container_products .product-list-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 397, ../scss/main.scss */
.container_products .product-list-container .product-list-scroller {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
/* line 403, ../scss/main.scss */
.container_products .product-list-container .product-list-scroller .product-list {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -webkit-align-content: flex-start;
  -webkit-align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: stretch;
}
/* line 414, ../scss/main.scss */
.container_products .product-list-container .product-list-scroller .product-list .product {
  -webkit-flex: 0 1 30%;
  flex: 0 1 30%;
}
/* line 416, ../scss/main.scss */
.container_products .product-list-container .product-list-scroller .product-list .product .product-img {
  width: 100%;
}
/* line 418, ../scss/main.scss */
.container_products .product-list-container .product-list-scroller .product-list .product .product-img img {
  width: 100%;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 436, ../scss/main.scss */
.options-selector {
  width: 95%;
  height: 90%;
  bottom: 0;
  padding: 2% 2.5% 0% 2.5%;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
/* line 443, ../scss/main.scss */
.options-selector .options-selector-content {
  float: left;
  width: 90%;
  height: 100%;
}
/* line 447, ../scss/main.scss */
.options-selector .options-selector-content .values-list {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -webkit-align-content: stretch;
  -webkit-align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}
/* line 458, ../scss/main.scss */
.options-selector .options-selector-content .values-list .block-selection {
  -webkit-flex: 0 1 24%;
  flex: 0 1 24%;
  height: 90%;
  margin-right: 1%;
}
/* line 462, ../scss/main.scss */
.options-selector .options-selector-content .values-list .block-selection .top-block {
  display: block;
  width: 100%;
  height: 49%;
  font-size: 2em;
  text-align: center;
  color: white;
  background-color: #000000;
  opacity: .7;
  border-radius: .5em .5em 0em 0em;
}
/* line 472, ../scss/main.scss */
.options-selector .options-selector-content .values-list .block-selection .top-block .block-quantity {
  font-size: 1em;
  width: 80%;
  text-align: center;
  background-color: transparent;
  color: white;
  border: none;
}
/* line 480, ../scss/main.scss */
.options-selector .options-selector-content .values-list .block-selection .top-block .block-information {
  font-size: 0.8em;
  color: yellow;
}
/* line 485, ../scss/main.scss */
.options-selector .options-selector-content .values-list .block-selection .bottom-block {
  display: block;
  width: 100%;
  height: 49%;
  font-size: 3em;
  text-align: center;
  color: white;
  background-color: #c1272d;
  border-radius: 0em 0em .5em .5em;
  line-height: 1em;
}
/* line 495, ../scss/main.scss */
.options-selector .options-selector-content .values-list .block-selection .bottom-block .block-increase {
  display: inline-block;
  float: left;
  height: 100%;
  width: 48%;
  border-right: 0.1em solid rgba(0, 0, 0, 0.7);
}
/* line 501, ../scss/main.scss */
.options-selector .options-selector-content .values-list .block-selection .bottom-block .block-increase img {
  width: 60%;
}
/* line 505, ../scss/main.scss */
.options-selector .options-selector-content .values-list .block-selection .bottom-block .block-decrease {
  display: inline-block;
  float: right;
  height: 100%;
  width: 48%;
}
/* line 510, ../scss/main.scss */
.options-selector .options-selector-content .values-list .block-selection .bottom-block .block-decrease img {
  display: block;
  width: 40%;
  margin: auto;
}
/* line 520, ../scss/main.scss */
.options-selector .action-selector {
  width: 8%;
  height: 100%;
  float: right;
  position: relative;
}
/* line 525, ../scss/main.scss */
.options-selector .action-selector img {
  border-radius: 50%;
  width: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background: #c1272c;
  background: -moz-linear-gradient(top, #c1272c 0%, #911d23 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #c1272c), color-stop(100%, #911d23));
  background: -webkit-linear-gradient(top, #c1272c 0%, #911d23 100%);
  background: -o-linear-gradient(top, #c1272c 0%, #911d23 100%);
  background: -ms-linear-gradient(top, #c1272c 0%, #911d23 100%);
  background: linear-gradient(to bottom, #c1272c 0%, #911d23 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1272c', endColorstr='#911d23', GradientType=0 );
}

/* line 544, ../scss/main.scss */
.title-quantity {
  margin-top: .2em;
  text-align: center;
  font-size: .8em;
  display: block;
}

/* line 550, ../scss/main.scss */
.units-quantity {
  margin-top: .1em;
  text-align: center;
  font-size: 2.2em;
  line-height: .8em;
  display: block;
}

/* line 557, ../scss/main.scss */
.only-quantity-total {
  position: absolute;
  margin: auto;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 1.7em;
}

/* line 566, ../scss/main.scss */
.destination-selector {
  width: 60%;
  height: 60%;
  margin: auto;
  margin-top: 2%;
  color: white;
  font-size: 1.2em;
}
/* line 573, ../scss/main.scss */
.destination-selector .destination-list {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -webkit-justify-content: center;
  -webkit-align-content: stretch;
  -webkit-align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
  height: 100%;
}
/* line 583, ../scss/main.scss */
.destination-selector .destination-list .destination {
  -webkit-flex: 0 1 25%;
  flex: 0 1 25%;
  background-color: #c1272d;
  text-align: center;
  line-height: 4em;
  border-left: 0.1em solid rgba(255, 255, 255, 0.6);
  opacity: .6;
}
/* line 591, ../scss/main.scss */
.destination-selector .destination-list .destination:first-child {
  border-radius: 1em 0 0 1em;
  border-left: none !important;
}
/* line 595, ../scss/main.scss */
.destination-selector .destination-list .destination:last-child {
  border-radius: 0 1em 1em 0;
}
/* line 598, ../scss/main.scss */
.destination-selector .destination-list .selected {
  opacity: 1;
}

/* line 603, ../scss/main.scss */
.invoice-screen {
  height: 100%;
  width: 100%;
  height: 75%;
  width: 100%;
}
/* line 608, ../scss/main.scss */
.invoice-screen .money-list {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -webkit-align-content: stretch;
  -webkit-align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  height: 72%;
  width: 100%;
}
/* line 619, ../scss/main.scss */
.invoice-screen .money-list .money-details {
  -webkit-flex: 0 1 26%;
  flex: 0 1 26%;
}
/* line 621, ../scss/main.scss */
.invoice-screen .money-list .money-details .money-detail-item {
  width: 100%;
}
/* line 623, ../scss/main.scss */
.invoice-screen .money-list .money-details .money-detail-item img {
  width: 100%;
}
/* line 626, ../scss/main.scss */
.invoice-screen .money-list .money-details .money-detail-item .money-subitems {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -webkit-align-content: stretch;
  -webkit-align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
}
/* line 637, ../scss/main.scss */
.invoice-screen .money-list .money-details .money-detail-item .money-subitems .money-detail-subitem {
  -webkit-flex: 0 1 45%;
  flex: 0 1 45%;
}
/* line 639, ../scss/main.scss */
.invoice-screen .money-list .money-details .money-detail-item .money-subitems .money-detail-subitem img {
  width: 100%;
}
/* line 647, ../scss/main.scss */
.invoice-screen .bottom-screen {
  height: 12%;
  width: 100%;
  border-top: .1em solid white;
}
/* line 651, ../scss/main.scss */
.invoice-screen .bottom-screen .name-bottom {
  display: inline-block;
  width: 30%;
  text-align: center;
  height: 40%;
  color: white;
}
/* line 658, ../scss/main.scss */
.invoice-screen .bottom-screen .amounts {
  color: white;
  float: right;
  width: 70%;
  height: 100%;
  margin-top: 1%;
}
/* line 664, ../scss/main.scss */
.invoice-screen .bottom-screen .amounts .amount {
  float: left;
  height: 80%;
  width: 22%;
  padding: 1.8% 0%;
  background-color: #c1272d;
  border-left: 0.2em solid rgba(255, 255, 255, 0.7);
}
/* line 671, ../scss/main.scss */
.invoice-screen .bottom-screen .amounts .amount .title-amount {
  height: 28%;
  width: 100%;
  display: block;
  padding: 1% 0;
  font-size: .8em;
  color: #ffdf1b;
}
/* line 679, ../scss/main.scss */
.invoice-screen .bottom-screen .amounts .amount .value-amount {
  height: 70%;
  width: 100%;
  display: block;
  padding: 1% 0;
  font-size: 1.6em;
}
/* line 687, ../scss/main.scss */
.invoice-screen .bottom-screen .amounts .amount:first-child {
  border-left: none !important;
  border-radius: .5em 0 0 .5em;
}
/* line 691, ../scss/main.scss */
.invoice-screen .bottom-screen .amounts .amount:last-child {
  border-radius: 0 .5em .5em 0;
}

/* line 698, ../scss/main.scss */
.client-screen {
  width: 100%;
  height: 100%;
}
/* line 701, ../scss/main.scss */
.client-screen .client-details {
  height: 85%;
  width: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -webkit-align-content: stretch;
  -webkit-align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}
/* line 712, ../scss/main.scss */
.client-screen .client-details .client-detail-item {
  font-size: larger;
  color: white;
  -webkit-flex: 0 1 16%;
  flex: 0 1 16%;
  max-height: 16%;
  font-size: 1.4em;
}
/* line 718, ../scss/main.scss */
.client-screen .client-details .client-detail-item .label {
  display: inline-block;
  width: 18%;
  height: 100%;
  float: left;
  text-align: right;
  line-height: 3.5em;
}
/* line 726, ../scss/main.scss */
.client-screen .client-details .client-detail-item .detail {
  display: inline-block;
  width: 75%;
  height: 75%;
  background-color: transparent;
  border: none;
  float: right;
  color: white;
  font-size: 1em;
  text-align: left;
  margin: 2.5%;
}

/* line 742, ../scss/main.scss */
.font-black {
  font-family: Roboto-black;
}

/* line 745, ../scss/main.scss */
.font-bold {
  font-family: Roboto-bold;
}

/* line 748, ../scss/main.scss */
.font-bold-condensed {
  font-family: Roboto-bold-condensed;
}

/* line 751, ../scss/main.scss */
.font-medium {
  font-family: Roboto-medium;
}

/* line 754, ../scss/main.scss */
.font-regular {
  font-family: Roboto-regular;
}

/* line 758, ../scss/main.scss */
.selected-product img {
  filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
}

/* line 762, ../scss/main.scss */
.selected {
  background-color: #cb3629;
}
